{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <title>Mail App</title>
</head>
<body>
    <div>
        <h1>Django Mail App</h1>

        <form method="post">
            {% csrf_token %}
            <ul>
                <li>
            <label for="address">To:</label>
            <input id="address" type="email" name="address"/>
                </li>
            <li>
                <label for="subject">Subject:</label>
            <input id="subject" name="subject"/>
        </li>
            <li>
                <label for="message">Message:</label><br>
            <textarea id="message" name="message"></textarea>
            </li>
            
            <input type="submit">
        </form>
    </ul>
        <p>{{ result }}</p>
    </div>
  
</body>
</html>
